html,
body {
	padding: 0;
margin-left:auto;
margin-right:auto;
font-family: 'Lato', sans-serif;
background-color: #0070C0;
height: 100%;



}
img {
	 url('arrow.svg');
	width: 20%; 

	
}


#chapeau {
font-family: 'Libre Baskerville', serif; 
font-size:20px;
width: 50%;
margin:auto;
}


h1 {
font-family: 'Libre Baskerville', serif;
font-weight:500;
font-size:40px;
text-transform:uppercase;
color: white;
margin-left: auto;
margin-right: auto;
margin-top: 90px;
margin-bottom:50px;
text-align:center;
width: 50%;
border-bottom : 3px solid #fd7922; 
border-top : 3px solid #fd7922;
padding: 25px;

}

h2 {
	font-family: 'Libre Baskerville', serif;
font-weight:50;
font-size:20px;
color: white;
margin-left: auto;
margin-right: auto;
margin-top: 80px;
margin-bottom:50px;
text-align:center;
width: 50%;


}
.development{
font-family: 'Lato', sans-serif ;
font-size: 15px;
font-weight : 100;
color: #fd7922;	
width: 70%;
text-align: justify;
margin-left:auto;
margin-right:auto;
}

