html,
body {
	padding: 0;
margin-left:auto;
margin-right:auto;
font-family: 'Lato', sans-serif;
background-color: #EFEFEF;



}

.photo {
	
	width: 15%;
        height: auto;
        position:absolute;
        margin-left:20px;
        margin-right: auto;
        overflow: hidden;
        
}	

#chapeau {
font-family: 'Libre Baskerville', serif; 
font-size:20px;
width: 50%;
margin:auto;
}


h1 {
font-family: 'Libre Baskerville', serif;
font-weight:500;
font-size:40px;
text-transform:uppercase;
color: #323056;
margin-left: auto;
margin-right: auto;
margin-top: 200px;
margin-bottom:50px;
text-align:center;
width: 50%;
border-bottom : 3px solid #fd7922; 
border-top : 3px solid #fd7922;
padding: 25px;



}


.idea{
font-family: 'Lato', sans-serif;
font-weight:bold;
font-size: 20px;
color: #323056;	
width: 50%;
text-align: justify;
margin-left:auto;
margin-right:auto;

	
}

.development{
font-family: 'Lato', sans-serif ;
font-size: 16px;
font-weight : 100;
color: #fd7922;	
width: 50%;
text-align: justify;
margin-left:auto;
margin-right:auto;
	
}

.toggled {
	font-family: 'Lato', sans-serif;
font-size: 14px;

border: 3px dotted #fd7922;
border-radius: 20px;
padding: 12px;
color:#323056;
display:table;
width: 35%;
text-align: justify;
margin-left: 10%;

}


#lettrine{
  font-family: 'Lato', sans-serif;
  font-weight:800;
font-size: 20px;
color: #323056;	
margin-left:auto;
margin-right:auto;
width: 50%;
}
#lettrine:first-letter {
 
  font-family: 'Lato', sans-serif;
  font-size : 40px;
  color : #323056;
margin-right:5px;
  float : left;
}

